/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a {
    color: orange;
    text-decoration: none;
    font-size: smaller;
}

a:hover, a:focus {
    color: #3397db;
    text-decoration: none;
}

/* ====================== Map ====================== */
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ccc;
}


/* ====================== Menu Side Bar ====================== */

.select-custom {
    padding: 5px;

}


/* ====================== Restaurant Listing ====================== */

.restaurant-img {
    padding: 0px;
    max-width: 80px;
    min-height: 92px;
}

.restaurant-card {
    padding-bottom: 10px;
    line-height: 22px;
}

.restaurant-title {
    font-size: medium;
}

.restaurant-info {
    font-size: small;
    line-height: 16px;
    color: #b0bec5;
}

@media only screen and (min-width: 600px)  {

    .sidenav {
        width: 500px;
    }

    .restaurant-img {
        padding: 0px;
        max-width: 139px;
        min-height: 92px;
    }

}

@media only screen and (max-width: 600px)  {
    .sidenav {
        width: 300px;
    }

    .restaurant-img {
        padding: 0px;
        max-width: 80px;
        min-height: 75px;
    }

}